@use "../../app/globals.scss" as *;

.ticker {
  font-size: 1.4rem;
  padding: 10px;
  border: 1px solid $color-line;
  border-radius: 10px;
  box-sizing: border-box;

  .ticker_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: $color-secondary-text;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid $color-line;

    svg {
      width: 18px;
      height: auto;
      cursor: pointer;
    }
  }

  .ticker_delete_icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    img {
      width: 18px;
      height: auto;
      cursor: pointer;
    }
  }

  .ticker_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;

    .label {
      font-weight: 500;
      margin: 0;
    }

    .value {
      margin: 0;
    }

    .positive {
      color: $color-positive;
    }

    .negative {
      color: $color-negative;
    }
  }
}
